.product_card{
    padding: 2px;
    align-items: center;
    justify-content: start;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
transition: 0.5s transform;
}

.product_card:hover{
    transform: scale(1.02);
    cursor:pointer;
    border:1px solid black;

}

.product_card img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    background-color: white;
    object-fit: cover;
}

.info_holder{
    width: 75%;
}

h3{
    margin-top: 2px;
    margin-bottom: 2px;
}

h4{
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 3px 10px;
    border-radius: 9px;
}

h5{
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 2px;
    margin-left: 2px;
    padding: 2px 7px;
    border-radius: 9px;
    font-size: 0.8em;
}

@media (max-width: 768px) {
    .info_holder{
        width: 85%;
    }
}
  
@media (max-width: 576px) {
    .info_holder{
        width: 95%;
    }
}