
.navbar_btn{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: white;
    border:none;
    transition: 0.3s background;
}

.navbar_btn:hover{
    cursor:pointer;
    background-color: purple;
}

.cs_list_item_text span{
    font-size: 0.9em;
}