.pillbutton{
    border-radius: 50px;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 0.8em;
    height: 20px;
}

.pillbutton:hover{
    background-color: #ccc;
    border: 1px solid #ccc;
    cursor: pointer;
}

.active{
    background-color: #6ac9fe;
    border:1px solid #6ac9fe;
}

.active:hover{
    background-color: cornflowerblue;
    border: 1px solid black;
}